.img {
  width: 60%;
    max-width: 210px;
    max-height: 270px;
    min-width: 210px;
    min-height: 270px;
    padding: 15px;
      }

.center {
  display: flex;
  justify-content: center;
}
p {
  text-align: left;

}

.span {
  text-align: left;
  justify-content: center;
}

.NavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}
